/* Extracted from pages/allstockcenter.php */
        body,
        td,
        th {
            font-family: "Phetsarath OT";
        }

        .navbarr {


            position: fixed;

        }

        .buttonright {
            float: right;
        }

        .buttonleft {
            float: left;
        }

        .cooloorr {
            background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        }

        .right {
            float: right;
        }

        html {
            scroll-behavior: smooth;
        }
