/* Extracted from pages/DatauseStock.php */
    .bs-example {
      margin: 20px;
    }

    body,
    td,
    th {
      font-family: "Phetsarath OT";
    }

    .navbarr {


      position: fixed;

    }

    .circle {


      border-radius: 14px;

    }

    .trcolor {
      background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);

    }
