/* Extracted from pages/Stockview.php */
	body,
	td,
	th {
		font-family: "Phetsarath OT";
	}

	.navbarr {


		position: fixed;

	}

	.buttonright {
		float: right;
	}

	.cooloorr {
		background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	}
